[submodule "GrpPayment"]
	path = GrpPayment
	url = https://github.com/ahmedgamalelazab/GrpPayment.git
[submodule "GrpcInventory"]
	path = GrpcInventory
	url = https://github.com/ahmedgamalelazab/GrpcInventory
